.certificate-pay-inner {
    a {
        
    }
    .description {
        max-width: 400px;
    }
}
.radius-3 {
    border-radius: 10px 10px 0 0;

}
.student-reviwe-head {
    position: relative;
    .title {
        display: inline-block;
        padding: 10px 25px;
        position: relative;
        background: var(  --color-light);
      
        &.title-border {
            border: 1px solid var(--color-border);
            border-radius: 100px;
            
        }
        
    }
    &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 1px;
        background-color: var(--color-border);
        left: 0;
        top: 50%;
        z-index: 1;
    }
}

.student-review-inner {
    border-right: 1px solid var(--color-border);
    padding-bottom: 20px;
  
}

.student-review-main{
    border-bottom: 1px solid var(--color-border);
}

