.section-title {
    .subtitle {
        font-weight: 600;
        letter-spacing: .5px;
        line-height: 18px;
        font-size: 16px;
        border-radius: 4px;
        margin-bottom: 12px;
        display: inline-block;
        padding: 7px 14px;
        box-shadow: var(--shadow-lighter);
        background: transparent !important;
        position: relative;
        &.radius-rounded {
            border-radius: 100px;
        }
        &::before {
            content: '';
            position: absolute;
            top: 16px;
            left: -46px;
            width: 50px;
            height: 2px;
            background: linear-gradient(90deg, #004D6E 0%, #00ACCC 100%);
        }
        &::after {
            content: '';
            position: absolute;
            top: 16px;
            right: -46px;
            width: 50px;
            height: 2px;
            background: linear-gradient(90deg, #004D6E 0%, #00ACCC 100%);
        }
    }
    .title {
        
    }
    .description {
        br {
            @media #{$sm-layout} {
                display: none;    
            }
        }
    }

    p {
        &:empty {
            display: none;
        }
    }

}



.contact-form-1 {
    .form-group {
        display: block;
    }
}



.section-title-2 {
    .title {
        color: var(--color-body);
        display: block;
        border-bottom: 1px solid var(--color-border);
        padding-bottom: 19px;
        opacity: 0.6;
    }
}
